<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.0.0" targetFramework="net461" />
  <package id="FastMember" version="1.4.1" targetFramework="net461" />
  <package id="LinqToExcel" version="1.11.0" targetFramework="net461" />
  <package id="MetroSet_UI" version="1.0.3" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.43.0" targetFramework="net461" />
</packages>